<!-- Modal -->

<div class="modal modal__confirm">
  <div class="modal__close modal__confirm-close"></div>
  <div class="modal__inner">
    <div class="modal__img-wrapper">
      <img
        src="./images/icon-delete.svg"
        alt="delete image"
        class="modal__img"
        width="50"
        height="50"
      />
    </div>

    <h6 class="modal__msg">
      Are you sure you want to&nbsp;delete this appointment?
    </h6>
    <div class="modal__btns">
      <button class="modal__btn no">No</button>
      <button class="modal__btn yes">Yes</button>
    </div>
  </div>
</div>
