@use 'sass:math';

$containerWidth: 1440;
$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

//$fontSize: 16px; // где 16(px) - размер шрифта по умолчанию из макета

// Colors
$contentMain: #201c1d; // Цвет шрифта по умолчанию
$contentSecondary: #7c7778;
$contentDop: #afacac;
$contentLight: #ede8e8;
$contentFocused: #151414;
$backgroundExtraLight: #f7f5f5;
$backgroundMain: #fcfcfc;
$backgroundSecondary: #f7f7f7;
$accentMain: #e86475;
$accentFocused: #dd4f61;
$accentCanceled: #d95050;
$domLight: #f5e9ea;
$accentLight: #f4c6c6;
$accentDone: #30a62e;

// Gradients background
$gradientMain: linear-gradient(
  131.29deg,
  #ff6a8f 5.12%,
  #ff6276 52.07%,
  #f53838 100%
);

$gradientLight: linear-gradient(180deg, #fcfafa 0%, #faf7f8 100%);

$outlineFocus: 0 0 0 0.3rem rgba(222, 79, 98, 0.5);

// Gradient font
%gradient-font {
  background-image: $gradientMain;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

// Burger Menu
$burgerBreakpoint: $breakpoint768;
$burgerColor: #000;

// Fonts
$fontMain: sans-serif;
$fontSecondary: sans-serif;
