@use 'sass:math';

@import 'vars';
@import './reset';
@import './libs';
@import './global';

// Подключение стилей общих компонентов
//@import '../components/Button/button';

// Подключения стилей компонентов отдельных страниц

/* SignIn */
@import '../components/SignIn/Button/button';
@import '../components/SignIn/FormField/formfield';
@import '../components/SignIn/Form/form';
@import '../components/SignIn/Input/input';
@import '../components/SignIn/InputCode/input-code';

/* Dashboard */
@import '../components/Dashboard/Search/search';
@import '../components/Dashboard/Account/account';
@import '../components/Dashboard/IconButton/icon-button';
@import '../components/Dashboard/LanguageSelect/language-select';
@import '../components/Dashboard/Sidebar/sidebar';
@import '../components/Dashboard/SidebarButton/sidebar-button';
@import '../components/Dashboard/DashboardTable/dashboard-table';
@import '../components/Dashboard/TableRow/table-row';
@import '../components/Dashboard/DashboardformSelect/dashboardform-select';
@import '../components/Dashboard/Dropdown/dropdown';
@import '../components/Dashboard/TableSelect/table-select';
@import '../components/Dashboard/Pagination/pagination';
@import '../components/Dashboard/Label/label';
@import '../components/Dashboard/RightsideMenu/rightside-menu';
@import '../components/Dashboard/EditForm/edit-form';
@import '../components/Dashboard/Modal/modal';
@import '../components/Overlay/overlay';

/* Services */
@import '../components/Service/ServiceDropdown/service-dropdown';
@import '../components/Service/ServiceBlock/service-block';
@import '../components/Service/WideButton/wide-button';
@import '../components/Service/ServiceForm/service-form';
@import '../components/Service/ServiceSelect/service-select';
@import '../components/Service/Categories/categories';
@import '../components/Service/Category/category';
@import '../components/Service/ServiceTable/service-table';
@import '../components/Service/ServicetableRow/servicetable-row';
@import '../components/Service/ListservicesSelect/listservices-select';

/* Employees */
@import '../components/Employees/EmployeesTable/employees-table';

@import '../components/Employees/EmployeeForm/employee-form';
@import '../components/Employees/Timetable/timetable';
@import '../components/Employees/TimeSelect/time-select';
@import '../components/Employees/Switch/switch';
@import '../components/Employees/FormButton/form-button';
@import '../components/Employees/Popup/popup';

/* New appointment */

@import '../components/NewAppontment/Accordion/accordion';
@import '../components/NewAppontment/AppForm/app-form';

/* Clients */

@import '../components/Clients/ClientsTable/clients-table';
@import '../components/Clients/ClientstableRow/clientstable-row';
@import '../components/Clients/ClientForm/client-form';

/* My website */

@import '../components/Mywebsite/InfoForm/_info-form.scss';
@import '../components/Mywebsite/DaySelect/day-select';

/* Settings */

@import '../components/Settings/SettingsButton/settings-button';
@import '../components/Settings/SettingsForm/settings-form';
@import '../components/Settings/SettingsSelect/settings-select';

/* Onboarding */
@import '../components/Onboarding/OnboardingCard/onboarding-card';

/* Landing */
@import '../components/Landing/Intro/intro';
@import '../components/Landing/Gallery/gallery';
@import '../components/Landing/BookingForm/booking-form';
@import '../components/Landing/StepHeader/step-header';
@import '../components/Landing/FormCard/form-card';
@import '../components/Landing/Confirmation/confirmation';
@import '../components/Landing/Contacts/contacts';
@import '../components/Landing/Filter/filter';

// Подключение дополнительных уникальных стилей страниц
@import 'blocks/header';
@import 'blocks/signin';
@import 'blocks/dashboard';
@import 'blocks/template';
@import 'blocks/appointment';
@import 'blocks/clients';
@import 'blocks/footer';

// Libs
//@import "./libs/swiper";

/* Updated styles*/

/* DAY SELECT */

.select2-container--default
  .day-select__dropdown.select2-dropdown
  .select2-results__option,
.select2-container--default
  .settings-select__dropdown.select2-dropdown
  .select2-results__option {
  padding: 1.5rem 3rem 1.5rem 2rem;
}

.day-select
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  padding-right: 10px;
}

/* Cropper  modal */
.modal .cropper-crop-box {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}

.modal .modal__cropimg-wrapper img {
  max-width: 100%;
  width: 23.4rem;
  overflow: hidden;
  object-fit: cover;
}

/* Phone input with flag - iti */

.iti {
  width: 100%;
}

/* Price input */

.service-form__input.service-form__input--price[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.service-form__input.service-form__input--price::-webkit-outer-spin-button,
.service-form__input.service-form__input--price::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.service-form__input,
.service-form__textarea {
  font-size: 1.6rem;
  //padding: 1.3rem 2rem;
}

.service-form__input::placeholder,
.service-form__textarea::placeholder {
  font-size: 1.6rem;
}

.info-form__input,
.info-form__textarea {
  font-size: 1.6rem;
}

.info-form__input::placeholder,
.info-form__textarea::placeholder {
  font-size: 1.6rem;
}

/* Timetable breaks and buttons */

@media (min-width: 1199.98px) {
  .timetable__select-group {
    flex-wrap: nowrap;
  }
  .timetable__select-group .time-select {
    margin-left: 0;
    margin-right: 2rem;
  }

  .timetable__select-group .timetable__btn {
    margin-left: 0;
    margin-right: 1rem;
    flex-shrink: 0;
  }
}

/* Calendar styles for passed day class */

.passed,
.passed.disabled {
  background-color: #f7f7f7;
  color: #7c7778;
}

/* Domain input in My settings */
.settings-form__result {
  display: block;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding-left: 2rem;
  margin-top: 1rem;
  color: #7c7778;
}

.settings-form__result span {
  font-weight: 500;
  color: #201c1d;
}

.settings-form__input-message {
  display: inline-block;
  padding-left: 2rem;
  margin-top: 0.6rem;
}

/* Domain input in Onboarding */

.onboarding-card__form {
  margin-bottom: 2rem;
}

@media (min-width: 767.98px) {
  .onboarding-card__form {
    margin-bottom: 7.6rem;
  }
}

.onboarding-card__input-result {
  display: block;
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-top: 1rem;
  color: #7c7778;
  padding-left: 2rem;
}

.onboarding-card__input-result span {
  font-weight: 500;
  color: #201c1d;
}

.onboarding-card__input-message {
  display: inline-block;
  margin-top: 0.6rem;
  padding-left: 2rem;
}

/* Category photo preview */

.service-form__file-preview {
  border-radius: 50%;
}

/* Client site -  map in Contacts block */

.contacts__info-block {
  margin-bottom: 2.8rem;
}

.contacts__map-wrapper {
  margin-bottom: 4rem;
}

.contacts__map {
  width: 100%;
  height: 26.3rem;
  border-radius: 1.4rem;
}

@media (min-width: 767.98px) {
  .contacts__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5.6rem;
  }
  .contacts__info-block {
    width: 30rem;
    margin-bottom: 0;
    margin-right: 3rem;
  }
  .contacts__map-block {
    width: 35rem;
    margin: 0 auto;
  }
  .contacts__map-wrapper {
    margin-bottom: 0;
  }
}

@media (min-width: 1199.98px) {
  .contacts__inner {
    align-items: center;
  }
  .contacts__info-block {
    width: 38rem;
    margin-right: 4rem;
  }
  .contacts__map-block {
    width: 64rem;
  }
  .contacts__map {
    width: 100%;
    height: 36rem;
  }
}

/* NEW STYLES FROM 02/05/2024 */
/* Dashboard editform */
.dashboard__content-wrapper {
  padding-bottom: 35rem;
}

.edit-form {
  padding-bottom: 3.6rem;
}

.edit-form__btn-wrapper {
  margin-bottom: 3.6rem;
}

.edit-form__button.cancel {
  padding: 1.9rem 2rem 1.9rem 4.6rem;
}

@media (min-width: 767.98px) {
  .dashboard__content-wrapper {
    padding-bottom: 20rem;
  }

  .edit-form {
    padding-bottom: 3.6rem;
  }

  .edit-form__btn-wrapper {
    justify-content: flex-start;
  }
}

@media (min-width: 1199.98px) {
  .dashboard__content-wrapper {
    min-height: 80vh;
    padding-bottom: 3.6rem;
  }
}
