<section class="contacts">
  <div class="container container--landing">
    <h2 class="contacts__title section-title">Contact us</h2>

    <div class="contacts__wrapper">
      <div class="contacts__inner">
        <div class="contacts__info-block">
          <p class="contacts__item contacts__item--address">
            Istanbul, Freedom Street, 62
          </p>
          <p class="contacts__item contacts__item--time">
            Mon-Sun: 09:00 - 21:00
          </p>
          <a
            class="contacts__item contacts__item--phone"
            href="tel:+380678877808"
            >+38 (067) 88-77-808</a
          >

          <h6 class="contacts__subtitle">Social:</h6>
          <ul class="contacts__social-list">
            <li class="contacts__social-listitem">
              <a href="#" class="contacts__social-listlink">
                <img
                  class="contacts__social-img"
                  src="./images/icon-instagram.svg"
                  alt="Instagram link"
                  width="30"
                  height="30"
                />
              </a>
            </li>
            <li class="contacts__social-listitem">
              <a href="#" class="contacts__social-listlink">
                <img
                  class="contacts__social-img"
                  src="./images/icon-whatsapp.svg"
                  alt="Whatsapp link"
                  width="30"
                  height="30"
                />
              </a>
            </li>
            <li class="contacts__social-listitem">
              <a href="#" class="contacts__social-listlink">
                <img
                  class="contacts__social-img"
                  src="./images/icon-facebook.svg"
                  alt="Facebook link"
                  width="30"
                  height="30"
                />
              </a>
            </li>
          </ul>
        </div>
        <div class="contacts__map-block">
          <div class="contacts__map-wrapper">
            <iframe
              class="contacts__map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d752.4815683990064!2d28.973027628433634!3d41.026868900000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab9d8a8006a09%3A0xc02daa80995cfe53!2sTraditional%20Turkish%20Barber!5e0!3m2!1sru!2sru!4v1689245543297!5m2!1sru!2sru"
              width="400"
              height="263"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
