.service-select {
  position: relative;
  display: flex;

  /* Select2 styles */
  & .select2 {
    width: 100% !important;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: $contentMain;
    background: $backgroundMain;
    border-radius: 1.4rem;
    font-weight: 500;
  }

  & .select2-selection {
    padding: 1.5rem 3rem 1.4rem 1.2rem;
    height: auto;
    border: 0.1rem solid $backgroundExtraLight;
    border-radius: 1.4rem;
    overflow: hidden;
    background-color: $backgroundMain;
  }

  &.focused .select2-selection {
    border: 0.1rem solid $accentMain;
  }

  &
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: $contentMain;
    line-height: 1.6rem;
  }

  &
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    b {
      border: none;
    }

    background-image: url('../../../images/icon-select-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;

    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
  }

  &
    .select2.select2-container.select2-container--default.select2-container--open {
    border: 0.1rem solid $accentMain;
    border-radius: 1.4rem 1.4rem 0 0;
    border-bottom: none;
  }

  &
    .select2.select2-container.select2-container--default.select2-container--open
    .select2-selection__arrow {
    transform: translateY(-50%) rotate(180deg);
  }

  &
    .select2.select2-container.select2-container--default.select2-container--open.select2-container--focus {
    border: 0.1rem solid $accentMain;
    border-radius: 1.4rem 1.4rem 0 0;
    border-bottom: none;
  }

  &
    .select2.select2-container.select2-container--default.select2-container--below.select2-container--open {
    border: 0.1rem solid $accentMain;
    border-radius: 1.4rem 1.4rem 0 0;
    border-bottom: none;
  }
  &
    .select2.select2-container.select2-container--default.select2-container--above.select2-container--open {
    border: 0.1rem solid $accentMain;
    border-radius: 0 0 1.4rem 1.4rem;
    border-top: 0.1rem solid $contentLight;
  }

  &
    .select2-container--default
    .select2-selection--single
    .select2-selection__placeholder {
    color: $contentSecondary;
    font-weight: 400;
  }

  /* Select2 multiple */

  &.service-select--multiple {
    .select2-selection.select2-selection--multiple {
      padding: 0.6rem 5rem 0.6rem 0.6rem;
      cursor: pointer;
      position: relative;
      &:after {
        position: absolute;
        border: none;
        content: '...';
        font-size: 2rem;
        line-height: 1.6rem;
        top: 45%;
        transform: translateY(-50%);
        right: 1.8rem;
        background-image: none;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
      }
    }

    .select2.select2-container.select2-container--default.select2-container--focus {
      border: none;
      .select2-selection.select2-selection--multiple {
        border: 0.1rem solid $backgroundExtraLight;
      }
    }

    .select2.select2-container.select2-container--default.select2-container--focus.select2-container--open.select2-container--above {
      border: 0.1rem solid $accentMain;
      border-top: none;
    }

    .select2.select2-container.select2-container--default.select2-container--focus.select2-container--open {
      border: 0.1rem solid $accentMain;
      border-bottom: none;
    }
    .select2-container--default .select2-search--inline .select2-search__field {
      padding: 1rem 0.8rem 1rem 1.2rem;
      color: $contentSecondary;
      font-family: 'Montserrat', 'Arial', sans-serif;
      margin: 0;
      vertical-align: middle;
      height: auto;
      font-weight: 400;
      opacity: 1;
      cursor: pointer;
    }
    .select2-search.select2-search--inline {
      display: inline-block;
      height: 0;
    }
    .select2-container--default
      .select2-selection--multiple
      .select2-selection__choice {
      padding: 0.8rem 2rem 0.8rem 0.9rem;
      color: $backgroundMain;
      background-color: $contentMain;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.6rem;
      margin: 0;
      margin-right: 0.6rem;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      border-radius: 1rem;
      border: none;
      display: inline-flex;
      flex-direction: row-reverse;
    }
    .select2-selection__choice__remove {
      position: static;
      border: none;
      color: $backgroundMain;
      padding: 0;
      margin: 0 0 0 2rem;
      font-weight: 500;
      font-size: 2rem;
    }
  }

  /* Gender select2 select */
  &.service-select--gender .select2-selection {
    padding: 1.5rem 3rem 1.4rem 7.4rem;
    position: relative;
    &::before {
      position: absolute;
      border: none;
      content: 'Gender:';
      font-size: 1.4rem;
      line-height: 1.6rem;
      color: $contentSecondary;
      font-weight: 400;
      top: 50%;
      transform: translateY(-50%);
      left: 2rem;
    }
  }

  &.service-select--gender
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: $accentMain;
  }

  /* Choices styles */
  /* 
  & .choices {
    width: 100%;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.6rem;

    color: $contentMain;

    background: $backgroundMain;
    border: 0.1rem solid $backgroundExtraLight;
    border-radius: 1.4rem;
  }

  &.service-select--gender .choices {
    color: $contentSecondary;
  }

  &.service-select--gender .choices::before {
    position: absolute;
    border: none;
    content: 'Gender:';
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 400;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
  }

  & .choices::after {
    position: absolute;
    border: none;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: 3rem;
    background-image: url('../../../images/icon-select-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;
  }

  & .choices.is-open::after {
    margin-top: -2.5px;
    transform: translateY(-50%) rotate(180deg);
  }

  & .choices.is-open.is-focused {
    border: none;
    border-radius: 1.4rem 1.4rem 0 0;
  }

  & .choices.is-open .choices__inner {
    border: 0.1rem solid $accentMain;
    border-radius: 1.4rem 1.4rem 0 0;
    border-bottom: none;
  }

  & .choices__inner {
    border: none;
    min-height: 4rem;
    //padding: 0.3rem;
    background-color: transparent;
  }

  & .choices__list.choices__list--single {
    padding: 0.8rem 3rem 0.8rem 1.3rem;

    .choices__placeholder {
      font-weight: 400;
      opacity: 1;
      background-color: $backgroundMain;
      color: $contentSecondary;
    }
  }

  &.service-select--multiple {
    .choices::after {
      position: absolute;
      border: none;
      content: '...';
      font-size: 2rem;
      line-height: 1.6rem;
      top: 45%;
      transform: translateY(-50%);
      right: 3rem;
      background-image: none;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
    }
    .choices__inner {
      padding: 1.1rem 4.5rem 1.1rem 1.6rem;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    .choices__input {
      background-color: transparent;
      margin-bottom: 0;
      padding: 0.3rem 0.6rem 0rem;
      margin-bottom: 0.8rem;
      opacity: 1;
    }

    .choices__input.choices__input--cloned {
      order: -1;
      font-weight: 400;
      background-color: $backgroundMain;
      color: $contentSecondary;
      opacity: 1;
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    .choices.is-open {
      .choices__input.choices__input--cloned {
        width: 100%;
      }
    }

    .choices__placeholder {
      background-color: $backgroundMain;
      color: $contentSecondary;
      font-weight: 400;
      opacity: 1;
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    .choices__list.choices__list--multiple {
      .choices__item {
        padding: 0.8rem 2rem 0.8rem 0.9rem;
        color: $backgroundMain;
        background-color: $contentMain;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-right: 0.6rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        border: none;
      }
    }

    .choices__button {
      padding: 0;
      margin: 0 0 0 2.5rem;
      border: none;
      opacity: 1;
      background-size: 0.9rem;
    }
  }

  &.service-select--gender .choices__list.choices__list--single {
    padding: 0.8rem 3rem 0.8rem 8rem;
    color: $accentMain;
  }

  & .choices__list {
    min-width: 100%;
  }

  & .choices__list.choices__list--dropdown.is-active {
    background-color: $backgroundMain;
    border: 0.1rem solid $accentMain;
    border-top: none;
    border-radius: 0 0 1.4rem 1.4rem;
    margin-top: 0;
    z-index: 5;
  }

  & .choices__item.choices__item--choice {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 400;
  }

  &.choices__item.choices__item--choice:not:last-child {
    border-bottom: 0.1rem solid $contentLight;
  }

  & .choices__item.choices__item--choice.is-highlighted {
    background-color: transparent;
    position: relative;
  }

  & .choices__item.choices__item--choice.is-highlighted.is-selected {
    color: $accentMain;
    background-color: $domLight;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      border: none;
      background-image: url('../../../images/icon-check-red.svg');
      background-repeat: no-repeat;
      top: 55%;
      transform: translateY(-50%);
      opacity: 1;
      right: 2.5rem;
      width: 2.6rem;
      height: 2.6rem;
    }
  }
  & .choices__item.choices__item--choice.choices__item--disabled.is-selected {
    color: $contentSecondary;
    background-color: transparent;
    position: relative;
    padding: 1.5rem 2rem;
    &::after {
      display: none;
    }
  }

  & .choices__item.choices__item--choice.is-selected,
  & .choices__item.choices__item--choice.is-selected {
    color: $accentMain;
    background-color: $domLight;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      border: none;
      background-image: url('../../../images/icon-check-red.svg');
      background-repeat: no-repeat;
      top: 55%;
      transform: translateY(-50%);
      opacity: 1;
      right: 2.5rem;
      width: 2.6rem;
      height: 2.6rem;
    }
  }

  & .choices__list--dropdown .choices__item--selectable {
    padding: 1.5rem 4rem 1.5rem 2rem;
    border-bottom: 0.1rem solid $contentLight;
  }
  & .choices__list--dropdown .choices__item--selectable:last-child {
    border-bottom: none;
  } */
}
