<label for="category" class="service-form__label">Category</label>
<div class="service-form__service-select service-select">
  <select
    class="select2-form-select"
    id="category"
    inputmode="none"
    data-placeholder="Name of category"
  >
    <option></option>
    <option value="Hair">Hair</option>
    <option value="Manicure">Manicure</option>
    <option value="Hair SPA Ritual">Hair SPA Ritual</option>
    <option value="Face revitalizing">Face revitalizing</option>
  </select>
</div>
