.settings-select {
  position: relative;
  display: flex;

  /* Select2 styles */
  & .select2 {
    width: 100% !important;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: $contentMain;
    background: $backgroundMain;
    border-radius: 1.4rem;
    font-weight: 500;
  }

  & .select2-selection {
    padding: 1.5rem 3rem 1.4rem 1.2rem;
    height: auto;
    border: 0.1rem solid $backgroundExtraLight;
    border-radius: 1.4rem;
    overflow: hidden;
    background-color: $backgroundMain;
  }

  &.focused .select2-selection {
    border: 0.1rem solid $accentMain;
  }

  &
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: $contentMain;
    line-height: 1.8rem;
  }

  &
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    b {
      border: none;
    }

    background-image: url('../../../images/icon-select-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;

    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
  }

  &
    .select2.select2-container.select2-container--default.select2-container--open {
    border: 0.1rem solid $accentMain;
    border-radius: 1.4rem 1.4rem 0 0;
    border-bottom: none;
  }

  &
    .select2.select2-container.select2-container--default.select2-container--open
    .select2-selection__arrow {
    transform: translateY(-50%) rotate(180deg);
  }

  &
    .select2.select2-container.select2-container--default.select2-container--open.select2-container--focus {
    border: 0.1rem solid $accentMain;
    border-radius: 1.4rem 1.4rem 0 0;
    border-bottom: none;
  }

  &
    .select2.select2-container.select2-container--default.select2-container--below.select2-container--open {
    border: 0.1rem solid $accentMain;
    border-radius: 1.4rem 1.4rem 0 0;
    border-bottom: none;
  }
  &
    .select2.select2-container.select2-container--default.select2-container--above.select2-container--open {
    border: 0.1rem solid $accentMain;
    border-radius: 0 0 1.4rem 1.4rem;
    border-top: 0.1rem solid $contentLight;
  }

  &
    .select2-container--default
    .select2-selection--single
    .select2-selection__placeholder {
    color: $contentSecondary;
    font-weight: 400;
  }
}
