<aside class="sidebar">
  <div class="sidebar__inner">
    <ul class="sidebar__list">
      <li class="sidebar__listitem">
        <a href="" class="sidebar__link sidebar-button active">
          <svg width="40" height="40">
            <use xlink:href="./images/sprite.svg#icon-dashboard"></use>
          </svg>
        </a>
      </li>
      <li class="sidebar__listitem">
        <a href="" class="sidebar__link sidebar-button">
          <svg width="40" height="40">
            <use xlink:href="./images/sprite.svg#icon-service"></use>
          </svg>
        </a>
      </li>
      <li class="sidebar__listitem">
        <a href="" class="sidebar__link sidebar-button">
          <svg width="40" height="40">
            <use xlink:href="./images/sprite.svg#icon-employees"></use>
          </svg>
        </a>
      </li>
      <li class="sidebar__listitem">
        <a href="" class="sidebar__link sidebar-button">
          <svg width="40" height="40">
            <use xlink:href="./images/sprite.svg#icon-clients"></use>
          </svg>
        </a>
      </li>
      <li class="sidebar__listitem sidebar__listitem--websites">
        <a href="" class="sidebar__link sidebar-button">
          <svg width="40" height="40">
            <use xlink:href="./images/sprite.svg#icon-websites"></use>
          </svg>
        </a>
      </li>
      <li class="sidebar__listitem sidebar__listitem--settings">
        <a href="" class="sidebar__link sidebar-button">
          <svg width="40" height="40">
            <use xlink:href="./images/sprite.svg#icon-settings"></use>
          </svg>
        </a>
      </li>

      <li class="sidebar__listitem sidebar__listitem--more">
        <a href="" class="sidebar__link sidebar-button sidebar-button--more">
          <svg width="40" height="40">
            <use xlink:href="./images/sprite.svg#icon-more"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="sidebar__footer">
      <!--  <button class="sidebar__btn-logout icontext-button">
        Logout
      </button> -->
      <a href="" class="sidebar__logo-link">
        <img
          src="./images/logo-sidebar.svg"
          alt="Randevu logo"
          class="sidebar__logo-img"
          width="76"
          height="17"
        />
      </a>
    </div>
  </div>
</aside>
