.service-block {
  &__select {
    margin-bottom: 2rem;
  }

  &__btn:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__top {
    margin-bottom: 4rem;
  }
}

@media (min-width: $breakpoint768) {
  .service-block {
    &__top {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 2.8rem;
    }

    &__inputs-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.4rem;
    }
    &__select,
    &__btn:not(:last-child) {
      margin-right: 2rem;
      margin-bottom: 0;
    }

    &.service-block--category,
    &.service-block--employee {
      .service-block__top {
        margin-bottom: 2rem;
      }
    }
  }
}

@media (min-width: $breakpoint1200) {
  .service-block {
    &.service-block--category,
    &.service-block--employee {
      .service-block__top {
        margin-bottom: 2.8rem;
      }
    }
  }
}
