.formfield {
  position: relative;
  width: 100%;
  margin-bottom: 1.4rem;
  text-align: left;

  &:last-child {
    margin-bottom: 2.8rem;
  }

  &__button-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;

    opacity: 1;
    transition: all 0.3s;
    border: none;
    cursor: pointer;

    svg {
      width: 2.6rem;
      height: 2.6rem;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}
