<section class="gallery">
  <div class="container container--landing">
    <h2 class="gallery__title section-title">Gallery</h2>
    <div class="gallery__slider-container">
      <div class="gallery__swiper-slider swiper-slider">
        <div class="swiper-wrapper">
          <div class="gallery__slider-item swiper-slide">
            <div class="gallery__item-wrapper">
              <img
                src="./images/gallery-img-1.jpg"
                alt="Gallery photo"
                class="gallery__slider-img"
              />
            </div>
          </div>
          <div class="gallery__slider-item swiper-slide">
            <div class="gallery__item-wrapper">
              <img
                src="./images/gallery-img-2.jpg"
                alt="Gallery photo"
                class="gallery__slider-img"
              />
            </div>
          </div>
          <div class="gallery__slider-item swiper-slide">
            <div class="gallery__item-wrapper">
              <img
                src="./images/gallery-img-3.jpg"
                alt="Фото портфолио"
                class="gallery__slider-img"
              />
            </div>
          </div>
          <div class="gallery__slider-item swiper-slide">
            <div class="gallery__item-wrapper">
              <img
                src="./images/gallery-img-1.jpg"
                alt="Gallery photo"
                class="gallery__slider-img"
              />
            </div>
          </div>
          <div class="gallery__slider-item swiper-slide">
            <div class="gallery__item-wrapper">
              <img
                src="./images/gallery-img-2.jpg"
                alt="Gallery photo"
                class="gallery__slider-img"
              />
            </div>
          </div>

          <div class="gallery__slider-item swiper-slide">
            <div class="gallery__item-wrapper">
              <img
                src="./images/gallery-img-3.jpg"
                alt="Фото портфолио"
                class="gallery__slider-img"
              />
            </div>
          </div>

          <div class="gallery__slider-item swiper-slide">
            <div class="gallery__item-wrapper">
              <img
                src="./images/gallery-img-1.jpg"
                alt="Gallery photo"
                class="gallery__slider-img"
              />
            </div>
          </div>
          <div class="gallery__slider-item swiper-slide">
            <div class="gallery__item-wrapper">
              <img
                src="./images/gallery-img-2.jpg"
                alt="Gallery photo"
                class="gallery__slider-img"
              />
            </div>
          </div>
          <div class="gallery__slider-item swiper-slide">
            <div class="gallery__item-wrapper">
              <img
                src="./images/gallery-img-3.jpg"
                alt="Фото портфолио"
                class="gallery__slider-img"
              />
            </div>
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination--gallery"></div>
      </div>

      <div class="gallery__slider-btns">
        <button class="gallery__slider-arrow swiper-button-prev">
          <img src="./images/icon-arrowleft.svg" alt="Prev photo" />
        </button>
        <button class="gallery__slider-arrow swiper-button-next">
          <img src="./images/icon-arrowright.svg" alt="Next photo" />
        </button>
      </div>
    </div>
  </div>
</section>
