<form class="service-block__form service-form service-form--editservice">
  <div class="service-form__row">
    <span class="service-form__label">Add service photo</span>
    <label for="category-photo-upload">
      <div class="service-form__file-wrapper">
        <div class="service-form__file-preview loaded">
          <span class="service-form__file-delete-btn">
            <img src="./images/icon-trash-white.svg" alt="Delete photo" />
          </span>
        </div>
      </div>
    </label>
    <input
      class="service-form__file-input visually-hidden"
      type="file"
      name="category-photo"
      id="category-photo-upload"
    />
  </div>
  <div class="service-block__inputs-wrapper">
    <div class="service-form__row service-form__row--service">
      <div class="service-form__service-select service-select">
        <label for="service" class="service-form__select-label visually-hidden"
          >Service</label
        >
        <select class="choices-form-select" id="service" inputmode="none">
          <option selected>Hair</option>
          <option value="Manicure">Manicure</option>
          <option value="Hair SPA Ritual">Hair SPA Ritual</option>
          <option value="Face revitalizing">Face revitalizing</option>
        </select>
      </div>
    </div>
    <div class="service-form__row service-form__row--price">
      <input
        type="text"
        class="service-form__input service-form__input--price focused"
        id="price"
        name="price"
        placeholder="82"
      />
    </div>
    <div class="service-form__row service-form__row--gender">
      <div
        class="service-form__service-select service-select service-select--gender"
      >
        <label for="gender" class="service-form__select-label visually-hidden"
          >Gender</label
        >
        <select class="choices-form-select" id="gender" inputmode="none">
          <option selected value="man">man</option>
          <option value="woman">woman</option>
        </select>
      </div>
    </div>
    <div class="service-form__row service-form__row--duration">
      <div
        class="service-form__service-select service-select service-select--duration"
      >
        <label for="duration" class="service-form__select-label visually-hidden"
          >Duration</label
        >
        <select class="choices-form-select" id="duration" inputmode="none">
          <option selected value="60">60</option>
          <option value="30">30</option>
          <option value="90">90</option>
        </select>
      </div>
    </div>
  </div>

  <div class="service-form__row">
    <ul class="service-form__language-options">
      <li class="service-form__language-option">
        <input
          class="visually-hidden service-form__language-input"
          type="radio"
          name="language"
          value="English"
          id="English"
          checked
        />
        <label class="service-form__language-label" for="English">EN</label>
      </li>
      <li class="service-form__language-option">
        <input
          class="visually-hidden service-form__language-input"
          type="radio"
          name="language"
          value="Deutsch"
          id="Deutsch"
        />
        <label class="service-form__language-label" for="Deutsch">DE</label>
      </li>
      <li class="service-form__language-option">
        <input
          class="visually-hidden service-form__language-input"
          type="radio"
          name="language"
          value="Turkish"
          id="Turkish"
          disabled
        />
        <label class="service-form__language-label" for="Turkish">TR</label>
      </li>
    </ul>
  </div>

  <div class="service-form__row">
    <input
      type="text"
      class="service-form__input"
      id="title"
      name="title"
      placeholder="Title"
      autocomplete="off"
    />
  </div>
  <!-- <div class="service-form__row">
      <textarea
    
      class="service-form__textarea"
      id="description"
      name="description"
      placeholder="Description" rows="8"
    ></textarea>
    </div> -->
  <div class="service-form__btns-wrapper">
    <button class="service-form__button delete">
      <svg width="26" height="26">
        <use xlink:href="./images/sprite.svg#icon-trash"></use>
      </svg>
      Delete
    </button>
    <button class="service-form__button save">
      <svg width="26" height="26">
        <use xlink:href="./images/sprite.svg#icon-save"></use>
      </svg>
      Save
    </button>
  </div>
</form>
