<div class="categories">
  <div class="categories__inner">
    <ul class="categories__list" id="category-list">
      <li class="categories__list-item category">
        <a href="" class="category__link">
          <div class="category__inner">
            <div class="category__img-wrapper">
              <img
                src="./images/category-haircut.jpg"
                alt="category photo"
                class="category__img"
              />
            </div>

            <div class="category__text-block">
              <h6 class="category__title">A haircut</h6>
              <!--                             <span class="category__more">
                  <svg width="26" height="26">
                    <use
                      xlink:href="./images/sprite.svg#icon-more"
                    ></use>
                  </svg>
                </span> -->
            </div>
          </div>
        </a>
        <div class="edit-icon" data-category-id="52">
          <img
            class="edit-icon__img"
            src="./images/icon-edit.svg"
            alt="edit row"
            width="26"
            height="26"
          />
          Edit
        </div>

        <div class="edit-icon">
          <svg width="26" height="26">
            <use xlink:href="./images/sprite.svg#icon-edit"></use>
          </svg>
        </div>
      </li>
      <li class="categories__list-item category selected-category">
        <a href="" class="category__link">
          <div class="category__inner">
            <div class="category__img-wrapper">
              <img
                src="./images/category-beard.jpg"
                alt="category photo"
                class="category__img"
              />
            </div>

            <div class="category__text-block">
              <h6 class="category__title">Beard trim</h6>
              <!--                             <span class="category__more">
                  <svg width="26" height="26">
                    <use
                      xlink:href="./images/sprite.svg#icon-more"
                    ></use>
                  </svg>
                </span> -->
            </div>
          </div>
        </a>

        <div class="edit-icon" data-category-id="53">
          <svg width="26" height="26">
            <use xlink:href="./images/sprite.svg#icon-edit"></use>
          </svg>
        </div>
      </li>
      <li class="categories__list-item category">
        <a href="" class="category__link">
          <div class="category__inner">
            <div class="category__img-wrapper">
              <img
                src="./images/category-styling.jpg"
                alt="category photo"
                class="category__img"
              />
            </div>

            <div class="category__text-block">
              <h6 class="category__title">Styling</h6>
              <!--                             <span class="category__more">
                  <svg width="26" height="26">
                    <use
                      xlink:href="./images/sprite.svg#icon-more"
                    ></use>
                  </svg>
                </span> -->
            </div>
          </div>
        </a>
        <div class="edit-icon" data-category-id="54">
          <svg width="26" height="26">
            <use xlink:href="./images/sprite.svg#icon-edit"></use>
          </svg>
        </div>
      </li>
      <li class="categories__list-item category">
        <a href="" class="category__link">
          <div class="category__inner">
            <div class="category__img-wrapper">
              <img
                src="./images/category-haircut.jpg"
                alt="category photo"
                class="category__img"
              />
            </div>

            <div class="category__text-block">
              <h6 class="category__title">A haircut</h6>
              <!--                             <span class="category__more">
                  <svg width="26" height="26">
                    <use
                      xlink:href="./images/sprite.svg#icon-more"
                    ></use>
                  </svg>
                </span> -->
            </div>
          </div>
        </a>

        <div class="edit-icon" data-category-id="55">
          <svg width="26" height="26">
            <use xlink:href="./images/sprite.svg#icon-edit"></use>
          </svg>
        </div>
      </li>
      <li class="categories__list-item category">
        <a href="" class="category__link">
          <div class="category__inner">
            <div class="category__img-wrapper">
              <img
                src="./images/category-beard.jpg"
                alt="category photo"
                class="category__img"
              />
            </div>

            <div class="category__text-block">
              <h6 class="category__title">Beard trim</h6>
              <!--                             <span class="category__more">
                  <svg width="26" height="26">
                    <use
                      xlink:href="./images/sprite.svg#icon-more"
                    ></use>
                  </svg>
                </span> -->
            </div>
          </div>
        </a>
        <div class="edit-icon" data-category-id="56">
          <svg width="26" height="26">
            <use xlink:href="./images/sprite.svg#icon-edit"></use>
          </svg>
        </div>
      </li>
      <li class="categories__list-item category">
        <a href="" class="category__link">
          <div class="category__inner">
            <div class="category__img-wrapper">
              <img
                src="./images/category-styling.jpg"
                alt="category photo"
                class="category__img"
              />
            </div>

            <div class="category__text-block">
              <h6 class="category__title">Styling</h6>
              <!--                             <span class="category__more">
                  <svg width="26" height="26">
                    <use
                      xlink:href="./images/sprite.svg#icon-more"
                    ></use>
                  </svg>
                </span> -->
            </div>
          </div>
        </a>
        <div class="edit-icon" data-category-id="57">
          <svg width="26" height="26">
            <use xlink:href="./images/sprite.svg#icon-edit"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</div>
