<!-- Language select -->
<div class="language-select">
  <button class="language-select__button">
    <img class="language-select__button-img" src="./images/icon-world.svg" />
    <span class="language-select__language-selected">EN</span>
  </button>
  <div class="language-select__list-wrapper">
    <ul class="language-select__list">
      <li class="language-select__list-item active">Germany</li>
      <li class="language-select__list-item">Turkey</li>
      <li class="language-select__list-item">England</li>
    </ul>
  </div>
</div>
