.language-select {
  position: relative;

  &__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $contentMain;
    background-color: transparent;
    padding: 0 2rem 0 0;
    border: none;
    outline: none;
    z-index: 10;
    cursor: pointer;
  }

  &__button::after {
    position: absolute;
    content: '';
    border: none;
    background-image: url('../../../images/icon-select-arrow.svg');
    background-repeat: no-repeat;
    top: 55%;
    transform: translateY(-50%);
    right: 0;
    width: 1.6rem;
    height: 1.6rem;
  }

  &__button:focus {
    outline: 0;
  }

  &__button.focused {
    border: 0.1rem solid $accentFocused;
  }

  &__button-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__button-img {
    width: 2.6rem;
    height: 2.6rem;
    object-fit: cover;
    margin-right: 0.3rem;
  }

  &__language-selected {
    cursor: pointer;
  }

  &__list-wrapper {
    //display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    margin-top: 3rem;
    background: $backgroundMain;
    overflow: hidden;
    padding: 0.5rem 0;
    min-width: 9.7rem;
    width: max-content;
    z-index: 5;
    border-radius: 0.8rem;
    border: 0.1rem solid $backgroundExtraLight;
    transition: all 0.3s;
  }

  &__list-wrapper.active {
    //display: block;
    opacity: 1;
    visibility: visible;
  }

  &__list {
    overflow: hidden;
  }

  &__list-item {
    position: relative;
    text-align: center;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 1rem 2rem 0.4rem 1rem;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s;

    &.active {
      color: $accentMain;
      font-weight: 600;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}
