<span class="services__popup popup">
  <span class="popup__close popup__confirm-close"></span>
  <span class="popup__inner">
    <h6 class="popup__msg">Services full list</h6>
    <span class="popup__list-wrapper">
      <ol class="popup__list">
        <li class="popup__list-item">Styling</li>
        <li class="popup__list-item">Haircut</li>
        <li class="popup__list-item">Manicure</li>
        <li class="popup__list-item">Pedicure</li>
        <li class="popup__list-item">Face massage</li>
        <li class="popup__list-item">Aroma therapy</li>
        <li class="popup__list-item">Children's haircut</li>
        <li class="popup__list-item">Manicure</li>
        <li class="popup__list-item">Pedicure</li>
        <li class="popup__list-item">Face massage</li>
        <li class="popup__list-item">Aroma therapy</li>
        <li class="popup__list-item">Children's haircut</li>
        <li class="popup__list-item">Styling</li>
        <li class="popup__list-item">Haircut</li>
        <li class="popup__list-item">Manicure</li>
        <li class="popup__list-item">Pedicure</li>
      </ol>
    </span>
    <span class="popup__btns">
      <button class="popup__btn edit">Edit</button>
      <button class="popup__btn ok">Ok</button>
    </span>
  </span>
</span>
