<tr class="service-table__row servicetable-row">
  <td class="number">1</td>
  <td class="services">
    <div class="service-table__td-wrapper">
      <div class="service-table__img-wrapper">
        <img
          src="./images/category-styling.jpg"
          alt="Styling service photo"
          class="service-table__img"
        />
      </div>
      Styling
    </div>
  </td>
  <td class="duration">120 min</td>
  <td class="price">$70</td>
  <td class="gender">Male</td>
  <td class="cat">Styling</td>
  <td class="action">
    <span class="actions">
      <button class="service-table__action-button">
        <img
          class="service-table__action-icon"
          src="./images/icon-edit.svg"
          alt="edit row"
          width="26"
          height="26"
        />
      </button>
    </span>
  </td>
</tr>
