<form class="booking-form">
    <div class="booking-form__step active">
      <div class="booking-form__btn-arrows disabled">
        <button class="booking-form__btn-prev">
          <img src="./images/icon-arrow-prev.svg" alt="Step back" />
        </button>
      </div>
      <div class="booking-form__step-inner">
        <div class="booking-form__step-header step-header">
          <div class="step-header__num">1</div>
          <div class="step-header__inner">
            <h6 class="step-header__title">Choose category</h6>
          </div>
        </div>
        <div class="booking-form__step-content">
          <div class="booking-form__content-wrapper">
            <ul class="booking-form__options">
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="category"
                  value="Haircut"
                  id="haircut"
                />
                <label
                  class="form-card__option-label form-card__option-label--category"
                  for="haircut"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/category-haircut.jpg"
                      alt="Category photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    A haircut
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="category"
                  value="Styling"
                  id="styling"
                  checked
                />
                <label
                  class="form-card__option-label form-card__option-label--category"
                  for="styling"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/category-styling.jpg"
                      alt="Category photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    Styling
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="category"
                  value="Depilation with wax"
                  id="depilation-wax"
                />
                <label
                  class="form-card__option-label form-card__option-label--category"
                  for="depilation-wax"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/category-styling.jpg"
                      alt="Category photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />

                    Depilation with wax
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="category"
                  value="Beard trim"
                  id="beard-trim"
                />
                <label
                  class="form-card__option-label form-card__option-label--category"
                  for="beard-trim"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/category-beard.jpg"
                      alt="Category photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    Beard trim
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="category"
                  value="Kid's haircut"
                  id="haircut-kids"
                />
                <label
                  class="form-card__option-label form-card__option-label--category"
                  for="haircut-kids"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/category-haircut.jpg"
                      alt="Category photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    Kid's haircut
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="category"
                  value="Manicure"
                  id="manicure"
                />
                <label
                  class="form-card__option-label form-card__option-label--category"
                  for="manicure"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/category-photo.jpg"
                      alt="Category photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    Manicure
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="category"
                  value="Hair coloring"
                  id="hair-coloring"
                />
                <label
                  class="form-card__option-label form-card__option-label--category"
                  for="hair-coloring"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/category-haircut.jpg"
                      alt="Category photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    Hair coloring
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="category"
                  value="Pedicure"
                  id="pedicure"
                />
                <label
                  class="form-card__option-label form-card__option-label--category"
                  for="pedicure"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/category-haircut.jpg"
                      alt="Category photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    Pedicure
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
            </ul>
            <div class="booking-form__confirmation active confirmation">
              <div class="confirmation__fields">
                <div class="confirmation__filled-wrapper">
                  <div class="confirmation__row active">
                    <span class="confirmation__number">1</span>
                    <span class="confirmation__field-label"
                      >Category:</span
                    >
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >Styling</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="booking-form__step">
      <div class="booking-form__btn-arrows">
        <button class="booking-form__btn-prev">
          <img src="./images/icon-arrow-prev.svg" alt="Step back" />
        </button>
      </div>
      <div class="booking-form__step-inner">
        <div class="booking-form__step-header step-header">
          <div class="step-header__num">2</div>
          <div class="step-header__inner">
            <h6 class="step-header__title">Choose service</h6>
          </div>
        </div>
        <div class="booking-form__step-content">
          <div class="booking-form__content-wrapper">
            <ul class="booking-form__options">
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-service"
                  value="Haircut"
                  id="haircut2"
                />
                <label
                  class="form-card__option-label form-card__option-label--service"
                  for="haircut2"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/category-haircut.jpg"
                      alt="Category photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        A haircut
                      </span>
                      <span class="form-card__label-text">
                        Price:
                        <span class="form-card__label-price">$40</span>
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-service"
                  value="Styling"
                  id="styling2"
                  checked
                />
                <label
                  class="form-card__option-label form-card__option-label--service"
                  for="styling2"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/category-styling.jpg"
                      alt="Category photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Styling
                      </span>
                      <span class="form-card__label-text">
                        Price:
                        <span class="form-card__label-price">$50</span>
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-service"
                  value="Depilation with wax"
                  id="depilation-wax2"
                />
                <label
                  class="form-card__option-label form-card__option-label--service"
                  for="depilation-wax2"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/category-styling.jpg"
                      alt="Category photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Depilation with wax
                      </span>
                      <span class="form-card__label-text">
                        Price:
                        <span class="form-card__label-price">$10</span>
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-service"
                  value="Beard trim"
                  id="beard-trim2"
                />
                <label
                  class="form-card__option-label form-card__option-label--service"
                  for="beard-trim2"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/category-beard.jpg"
                      alt="Category photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Beard trim
                      </span>
                      <span class="form-card__label-text">
                        Price:
                        <span class="form-card__label-price">$10</span>
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-service"
                  value="Kid's haircut"
                  id="haircut-kids2"
                />
                <label
                  class="form-card__option-label form-card__option-label--service"
                  for="haircut-kids2"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/category-haircut.jpg"
                      alt="Category photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Kid's haircut
                      </span>
                      <span class="form-card__label-text">
                        Price:
                        <span class="form-card__label-price">$10</span>
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-service"
                  value="Manicure"
                  id="manicure2"
                />
                <label
                  class="form-card__option-label form-card__option-label--service"
                  for="manicure2"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/category-photo.jpg"
                      alt="Category photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Manicure
                      </span>
                      <span class="form-card__label-text">
                        Price:
                        <span class="form-card__label-price">$20</span>
                      </span>
                    </span>
                  </span>
                  <img
                    class=""
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="22"
                    height="22"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-service"
                  value="Hair coloring"
                  id="hair-coloring2"
                />
                <label
                  class="form-card__option-label form-card__option-label--service"
                  for="hair-coloring2"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/category-haircut.jpg"
                      alt="Category photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Hair colouring
                      </span>
                      <span class="form-card__label-text">
                        Price:
                        <span class="form-card__label-price">$30</span>
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-service"
                  value="Pedicure"
                  id="pedicure3"
                />
                <label
                  class="form-card__option-label form-card__option-label--service"
                  for="pedicure3"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/category-haircut.jpg"
                      alt="Category photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Pedicure
                      </span>
                      <span class="form-card__label-text">
                        Price:
                        <span class="form-card__label-price">$10</span>
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-service"
                  value="Pedicure"
                  id="pedicure4"
                />
                <label
                  class="form-card__option-label form-card__option-label--service"
                  for="pedicure4"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/category-haircut.jpg"
                      alt="Category photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Pedicure
                      </span>
                      <span class="form-card__label-text">
                        Price:
                        <span class="form-card__label-price">$10</span>
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
            </ul>
            <div class="booking-form__confirmation active confirmation">
              <div class="confirmation__fields">
                <div class="confirmation__filled-wrapper">
                  <div class="confirmation__row active">
                    <span class="confirmation__number">1</span>
                    <span class="confirmation__field-label"
                      >Category:</span
                    >
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >Styling</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__row active">
                    <span class="confirmation__number">2</span>
                    <span class="confirmation__field-label"
                      >Service:</span
                    >
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >Star Styling With Extra Care</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__price-row">
                    <span class="confirmation__price-label"
                      >Price:</span
                    >
                    <div class="confirmation__price-wrapper">
                      <span class="confirmation__price-input">$40</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="booking-form__step">
      <div class="booking-form__btn-arrows">
        <button class="booking-form__btn-prev">
          <img src="./images/icon-arrow-prev.svg" alt="Step back" />
        </button>
      </div>
      <div class="booking-form__step-inner">
        <div class="booking-form__step-header step-header">
          <div class="step-header__num">3</div>
          <div class="step-header__inner">
            <h6 class="step-header__title">Choose employee</h6>
          </div>
        </div>
        <div class="booking-form__step-content">
          <div class="booking-form__content-wrapper">
            <ul class="booking-form__options">
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-employee"
                  value="Jane Smith"
                  id="jane-smith"
                />
                <label
                  class="form-card__option-label form-card__option-label--employee"
                  for="jane-smith"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/employee-4.jpg"
                      alt="Employee photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Jane Smith
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-employee"
                  value="Nick Li"
                  id="nick-li"
                  checked
                />
                <label
                  class="form-card__option-label form-card__option-label--employee"
                  for="nick-li"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/employee-1.jpg"
                      alt="Employee photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Nick Li
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-employee"
                  value="Marry Olsen"
                  id="marry-olsen"
                />
                <label
                  class="form-card__option-label form-card__option-label--employee"
                  for="marry-olsen"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/employee-2.jpg"
                      alt="Employee photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Marry Olsen
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-employee"
                  value="Angelina Gerasimova"
                  id="angelina-gerasimova"
                />
                <label
                  class="form-card__option-label form-card__option-label--employee"
                  for="angelina-gerasimova"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/employee-3.jpg"
                      alt="Employee photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Angelina Gerasimova
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-employee"
                  value="Kate Lao"
                  id="kate-lao"
                />
                <label
                  class="form-card__option-label form-card__option-label--employee"
                  for="kate-lao"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/employee-4.jpg"
                      alt="Employee photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Kate Lao
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-employee"
                  value="Lisa Olsen"
                  id="lisa-olsen"
                />
                <label
                  class="form-card__option-label form-card__option-label--employee"
                  for="lisa-olsen"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/employee-5.jpg"
                      alt="Employee photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Lisa Olsen
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-employee"
                  value="Ritta Dakota"
                  id="ritta-dakota"
                />
                <label
                  class="form-card__option-label form-card__option-label--employee"
                  for="ritta-dakota"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/employee-6.jpg"
                      alt="Employee photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Ritta Dakota
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-employee"
                  value="Carol Pitt"
                  id="carol-pitt"
                />
                <label
                  class="form-card__option-label form-card__option-label--employee"
                  for="carol-pitt"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/employee-7.jpg"
                      alt="Employee photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Carol Pitt
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-employee"
                  value="Chloe Morren"
                  id="chloe-morren"
                />
                <label
                  class="form-card__option-label form-card__option-label--employee"
                  for="chloe-morren"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/employee-8.jpg"
                      alt="Employee photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Chloe Morren
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-employee"
                  value="Kassandra Larsen"
                  id="kassandra-larsen"
                />
                <label
                  class="form-card__option-label form-card__option-label--employee"
                  for="kassandra-larsen"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/employee-4.jpg"
                      alt="Employee photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Kassandra Larsen
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-employee"
                  value="Miroslava Ivanova"
                  id="miroslava-ivanova"
                />
                <label
                  class="form-card__option-label form-card__option-label--employee"
                  for="miroslava-ivanova"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/employee-2.jpg"
                      alt="Employee photo"
                      class="form-card__labelimg"
                      width="90"
                      height="89"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Miroslava Ivanova
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
              <li class="booking-form__option form-card">
                <input
                  class="visually-hidden form-card__option-input"
                  type="radio"
                  name="appointment-employee"
                  value="Tina Matvienko"
                  id="tina-matvienko"
                />
                <label
                  class="form-card__option-label form-card__option-label--employee"
                  for="tina-matvienko"
                >
                  <span class="form-card__label-inner">
                    <img
                      src="./images/employee-6.jpg"
                      alt="Employee photo"
                      class="form-card__labelimg"
                      width="90"
                      height="90"
                    />
                    <span class="form-card__label-info">
                      <span class="form-card__label-title">
                        Tina Matvienko
                      </span>
                    </span>
                  </span>
                  <img
                    class="form-card__label-checkimg"
                    src="./images/icon-round-check.svg"
                    alt="Selected option"
                    width="26"
                    height="26"
                  />
                </label>
              </li>
            </ul>
            <div class="booking-form__confirmation active confirmation">
              <div class="confirmation__fields">
                <div class="confirmation__filled-wrapper">
                  <div class="confirmation__row active">
                    <span class="confirmation__number">1</span>
                    <span class="confirmation__field-label"
                      >Category:</span
                    >
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >Styling</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__row active">
                    <span class="confirmation__number">2</span>
                    <span class="confirmation__field-label"
                      >Service:</span
                    >
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >Star Styling With Extra Care</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__row">
                    <span class="confirmation__number">3</span>
                    <span class="confirmation__field-label"
                      >Employee:</span
                    >
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >Jane Smith</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__price-row">
                    <span class="confirmation__price-label"
                      >Price:</span
                    >
                    <div class="confirmation__price-wrapper">
                      <span class="confirmation__price-input">$40</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="booking-form__step">
      <div class="booking-form__btn-arrows">
        <button class="booking-form__btn-prev">
          <img src="./images/icon-arrow-prev.svg" alt="Step back" />
        </button>
      </div>
      <div class="booking-form__step-inner">
        <div class="booking-form__step-header step-header">
          <div class="step-header__num">4</div>
          <div class="step-header__inner">
            <h6 class="step-header__title">Select date</h6>
          </div>
        </div>
        <div class="booking-form__step-content">
          <div
            class="booking-form__content-wrapper booking-form__content-wrapper--date"
          >
            <div
              class="booking-form__inline-date"
              id="inline-datepicker"
              data-date="08/08/2023"
            ></div>
            <div class="booking-form__confirmation active confirmation">
              <div class="confirmation__fields">
                <div class="confirmation__filled-wrapper">
                  <div class="confirmation__row active">
                    <span class="confirmation__number">1</span>
                    <span class="confirmation__field-label"
                      >Category:</span
                    >
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >Styling</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__row active">
                    <span class="confirmation__number">2</span>
                    <span class="confirmation__field-label"
                      >Service:</span
                    >
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >Star Styling With Extra Care</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__row">
                    <span class="confirmation__number">3</span>
                    <span class="confirmation__field-label"
                      >Employee:</span
                    >
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >Jane Smith</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__row">
                    <span class="confirmation__number">4</span>
                    <span class="confirmation__field-label">Date:</span>
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >16, Aug</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__price-row">
                    <span class="confirmation__price-label"
                      >Price:</span
                    >
                    <div class="confirmation__price-wrapper">
                      <span class="confirmation__price-input">$40</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="booking-form__step">
      <div class="booking-form__btn-arrows">
        <button class="booking-form__btn-prev">
          <img src="./images/icon-arrow-prev.svg" alt="Step back" />
        </button>
      </div>
      <div class="booking-form__step-inner">
        <div class="booking-form__step-header step-header">
          <div class="step-header__num">5</div>
          <div class="step-header__inner">
            <h6 class="step-header__title">Select time</h6>
          </div>
        </div>
        <div class="booking-form__step-content">
          <div
            class="booking-form__content-wrapper booking-form__content-wrapper--time"
          >
            <div class="booking-form__time-block">
              <div class="booking-form__time">
                <div class="booking-form__time-header">
                  <span class="booking-form__timeheader-date"
                    >8, August</span
                  >
                </div>
                <input
                  class="booking-form__input-time visually-hidden"
                  id="inline-timepicker"
                  type="text"
                  placeholder="10:00"
                  inputmode="none"
                  readonly
                />
              </div>
            </div>

            <div class="booking-form__confirmation active confirmation">
              <div class="confirmation__fields">
                <div class="confirmation__filled-wrapper">
                  <div class="confirmation__row active">
                    <span class="confirmation__number">1</span>
                    <span class="confirmation__field-label"
                      >Category:</span
                    >
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >Styling</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__row active">
                    <span class="confirmation__number">2</span>
                    <span class="confirmation__field-label"
                      >Service:</span
                    >
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >Star Styling With Extra Care</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__row">
                    <span class="confirmation__number">3</span>
                    <span class="confirmation__field-label"
                      >Employee:</span
                    >
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >Jane Smith</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__row">
                    <span class="confirmation__number">4</span>
                    <span class="confirmation__field-label">Date:</span>
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >16, Aug</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__row">
                    <span class="confirmation__number">5</span>
                    <span class="confirmation__field-label">Time:</span>
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >11:30</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__price-row">
                    <span class="confirmation__price-label"
                      >Price:</span
                    >
                    <div class="confirmation__price-wrapper">
                      <span class="confirmation__price-input">$40</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="booking-form__step">
      <div class="booking-form__btn-arrows">
        <button class="booking-form__btn-prev">
          <img src="./images/icon-arrow-prev.svg" alt="Step back" />
        </button>
      </div>
      <div class="booking-form__step-inner">
        <div class="booking-form__step-header step-header">
          <div class="step-header__inner">
            <h6 class="step-header__title">Confirmation</h6>
          </div>
        </div>
        <div class="booking-form__step-content">
          <div class="booking-form__content-wrapper">
            <div
              class="booking-form__confirmation active confirmation confirmation--final"
            >
              <div class="confirmation__fields">
                <div class="confirmation__filled-wrapper">
                  <div class="confirmation__row active">
                    <span class="confirmation__number">1</span>
                    <span class="confirmation__field-label"
                      >Category:</span
                    >
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >Styling</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__row active">
                    <span class="confirmation__number">2</span>
                    <span class="confirmation__field-label"
                      >Service:</span
                    >
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >Star Styling With Extra Care</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__row">
                    <span class="confirmation__number">3</span>
                    <span class="confirmation__field-label"
                      >Employee:</span
                    >
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >Jane Smith</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__row">
                    <span class="confirmation__number">4</span>
                    <span class="confirmation__field-label">Date:</span>
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >16, Aug</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__row">
                    <span class="confirmation__number">5</span>
                    <span class="confirmation__field-label">Time:</span>
                    <div class="confirmation__input-wrapper">
                      <span class="confirmation__field-input"
                        >11:30</span
                      >
                    </div>
                  </div>
                  <div class="confirmation__price-row">
                    <span class="confirmation__price-label"
                      >Price:</span
                    >
                    <div class="confirmation__price-wrapper">
                      <span class="confirmation__price-input">$40</span>
                    </div>
                  </div>
                </div>
                <div class="confirmation__contacts-wrapper">
                  <div class="confirmation__contact-row">
                    <input
                      type="text"
                      class="confirmation__contact-input confirmation__contact-input--name"
                      id="total-name"
                      name="total-name"
                      placeholder="Name Surname"
                      autocomplete="off"
                    />
                  </div>
                  <div class="confirmation__contact-row">
                    <input
                      type="text"
                      class="confirmation__contact-input confirmation__contact-input--phone"
                      id="total-phone"
                      name="total-phone"
                      placeholder="Phone number"
                      autocomplete="off"
                    />
                  </div>
                  <div class="confirmation__tick-block">
                    <div class="confirmation__tick-right">
                      <input
                        class="visually-hidden confirmation__tick-checkbox"
                        id="remember"
                        type="checkbox"
                        name="remember"
                      />
                      <label
                        class="confirmation__tick-label"
                        for="remember"
                        >By clicking the button you agree to the
                        <a>Privacy Policy</a>
                      </label>
                    </div>
                  </div>
                  <button class="confirmation__button disabled">
                    Book an appointment
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>