<section class="intro">
  <div class="container container--landing">
    <div class="intro__inner">
      <div class="intro__left">
        <h1 class="intro__title">Churchill Barbershop</h1>
        <img
          src="./images/intro-img.jpg"
          alt="Salon photo"
          class="intro__img intro__img--mobile"
        />
        <p class="intro__info">
          Welcome to Churchill Barbershop Gentlemen's Territory. The philosophy
          of our establishment is based on the best traditions of English
          barbershops, where Charles Dickens, Oscar Wilde and even Winston
          Churchill once visited. At Churchill, we create a space where you can
          complement your style and relax in a British Gentlemen's Club
          atmosphere.
        </p>
        <a href="#" class="intro__btn">Book an appointment</a>
      </div>
      <div class="intro__right">
        <img
          src="./images/intro-img.jpg"
          alt="Salon photo"
          class="intro__img intro__img--tablet"
        />
      </div>
    </div>
  </div>
</section>
