.listservices-select {
  position: relative;
  display: flex;
  min-width: 20rem;

  /* Select2 styles */
  & .select2 {
    width: 100% !important;
    font-size: 2rem;
    line-height: 2.4rem;
    color: $contentMain;
    background: $backgroundMain;
    border-radius: 1.4rem;
    font-weight: 500;
  }

  & .select2-selection {
    padding: 2rem 3rem 2rem 2rem;
    height: auto;
    border: 0.1rem solid $backgroundExtraLight;
    border-radius: 1.4rem;
    overflow: hidden;
    background-color: $backgroundMain;
  }

  &
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: $accentMain;
    line-height: 2.4rem;
  }

  &
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    b {
      border: none;
    }

    background-image: url('../../../images/icon-dropdown-red.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    width: 2.6rem;
    height: 2.6rem;

    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
  }

  &
    .select2.select2-container.select2-container--default.select2-container--open {
    border: 0.1rem solid $accentMain;
    border-radius: 1.4rem 1.4rem 0 0;
    border-bottom: none;
  }

  &
    .select2.select2-container.select2-container--default.select2-container--open
    .select2-selection__arrow {
    transform: translateY(-50%) rotate(180deg);
  }

  &
    .select2.select2-container.select2-container--default.select2-container--open.select2-container--focus {
    border: 0.1rem solid $accentMain;
    border-radius: 1.4rem 1.4rem 0 0;
    border-bottom: none;
  }

  &
    .select2.select2-container.select2-container--default.select2-container--below.select2-container--open {
    border: 0.1rem solid $accentMain;
    border-radius: 1.4rem 1.4rem 0 0;
    border-bottom: none;
  }
  &
    .select2.select2-container.select2-container--default.select2-container--above.select2-container--open {
    border: 0.1rem solid $accentMain;
    border-radius: 0 0 1.4rem 1.4rem;
    border-top: 0.1rem solid $contentLight;
  }

  &
    .select2-container--default
    .select2-selection--single
    .select2-selection__placeholder {
    color: $contentSecondary;
    font-weight: 400;
  }

  /*   & .choices {
    width: 100%;

    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;

    color: $accentMain;

    background: $backgroundMain;
    border: 0.1rem solid $accentMain;
    border-radius: 1.4rem;
  }

  & .choices::after {
    position: absolute;
    border: none;
    content: '';
    top: 55%;
    transform: translateY(-50%);
    right: 3rem;
    background-image: url('../../../images/icon-dropdown-red.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    width: 2.6rem;
    height: 2.6rem;
  }

  & .choices.is-open::after {
    margin-top: -2.5px;
    transform: translateY(-50%) rotate(180deg);
  }

  & .choices.is-open {
    border: none;
  }

  & .choices.is-open .choices__inner {
    border: 0.1rem solid $accentMain;
    border-radius: 1.4rem 1.4rem 0 0;
    border-bottom: none;
  }

  & .choices__inner {
    border: none;
    min-height: 4rem;

    background-color: transparent;
  }

  & .choices__list.choices__list--single {
    padding: 1.2rem 4rem 1.2rem 3rem;
  }

  & .choices__list {
    min-width: 100%;

  }

  & .choices__list.choices__list--dropdown.is-active {
    background-color: $backgroundMain;
    border: 0.1rem solid $accentMain;
    border-top: none;
    border-radius: 0 0 1.4rem 1.4rem;
    margin-top: 0;
    z-index: 11;

  }

  & .choices__placeholder {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 500;
    opacity: 1;
  }

  & .choices__item.choices__item--choice {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: $contentMain;
  }

  & .choices__item.choices__item--choice:not:last-child {
    border-bottom: 0.1rem solid $contentLight;
  }

  & .choices__item.choices__item--selectable {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  & .choices__item.choices__item--choice.is-highlighted {
    background-color: transparent;
    position: relative;
  }
  & .choices__item.choices__item--choice.is-selected {
    color: $accentMain;
    background-color: $domLight;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      border: none;
      background-image: url('../../../images/icon-check-red.svg');
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
      right: 2.5rem;
      width: 2.6rem;
      height: 2.6rem;
    }
  }

  & .choices__item.choices__item--choice.is-highlighted.is-selected {
    background-color: $domLight;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      border: none;
      background-image: url('../../../images/icon-check-red.svg');
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
      right: 2.5rem;
      width: 2.6rem;
      height: 2.6rem;
    }
  }

  & .choices__list--dropdown .choices__item {
    padding: 2rem 4rem 2rem 2.8rem;
    border-bottom: 0.1rem solid $contentLight;
  }
  & .choices__list--dropdown .choices__item--selectable:last-child {
    border-bottom: none;
  } */
}

@media (min-width: $breakpoint768) {
  .listservices-select {
    & .select2 {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    & .select2-selection {
      padding: 1.5rem 3rem 1.4rem 1.2rem;
    }
    /*     & .choices__list.choices__list--single {
      padding: 0.8rem 6rem 0.7rem 2rem;
    }

    & .choices {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    & .choices::after {
      right: 2rem;
    }

    & .choices__placeholder {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    & .choices__item.choices__item--choice {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    & .choices__item.choices__item--selectable {
      font-size: 1.4rem;
      line-height: 1.6rem;
    } */
  }
}
