<aside class="rightside-menu rightside-menu--close">
  <div class="rightside-menu__inner">
    <div class="rightside-menu__top">
      <div class="rightside-menu__header">
        <div class="rightside-menu__account account">
          <a href="#" class="account__link">
            <div class="account__img-wrapper">
              <img class="account__img" src="./images/account-photo.jpg" />
              <!-- <span class="account__letters">CB</span> -->
            </div>
            <p class="account__name">Churchill Barbershop</p>
          </a>
        </div>
        <button class="rightside-menu__btn-close">
          <!--           <svg width="14" height="14" class="rightside-menu__icon">
            <use xlink:href="./images/sprite.svg#icon-close"></use>
          </svg> -->
        </button>
      </div>
      <div class="rightside-menu__search">
        <form class="header__search-form search search--mobile">
          <input type="text" class="search__input" placeholder="Search" />
          <button
            class="search__button icon-button icon-button--black icon-button--search"
            type="submit"
          >
            <img
              alt="Search"
              class="icon-button__img"
              src="./images/icon-search.svg"
              width="26"
              height="26"
            />
          </button>
        </form>
      </div>

      <ul class="rightside-menu__list">
        <li class="rightside-menu__listitem">
          <a
            href=""
            class="rightside-menu__iconbutton sidebar__link sidebar-button"
          >
            <svg width="40" height="40">
              <use xlink:href="./images/sprite.svg#icon-websites"></use>
            </svg> </a
          ><span>My websites</span>
        </li>
        <li class="rightside-menu__listitem">
          <a
            href=""
            class="rightside-menu__iconbutton sidebar__link sidebar-button"
          >
            <svg width="40" height="40">
              <use xlink:href="./images/sprite.svg#icon-settings"></use>
            </svg> </a
          ><span>Settings</span>
        </li>
      </ul>
      <div class="rightside-menu__language language-select">
        <button class="language-select__button">
          <img
            class="language-select__button-img"
            src="./images/icon-world.svg"
          />
          <span class="language-select__language-selected">EN</span>
        </button>
        <div class="language-select__list-wrapper active">
          <ul class="language-select__list">
            <li class="language-select__list-item active">Germany</li>
            <li class="language-select__list-item">Turkey</li>
            <li class="language-select__list-item">England</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="rightside-menu__bottom">
      <button
        class="rightside-menu__btn-logout sidebar__btn-logout icontext-button"
      >
        Logout
      </button>
    </div>
  </div>
</aside>
