.rightside-menu {
  position: fixed;
  right: 0;
  top: 0;
  //bottom: 0;
  //width: 100%;
  height: 100vh;
  max-width: 90%;

  z-index: 60;
  background: $backgroundMain;

  border-left: 0.1rem solid $contentLight;
  //padding-bottom: 10rem;
  transition: all 0.6s;

  &.rightside-menu--close {
    transform: translateX(500%);
  }

  &__inner {
    padding: 4rem 2rem 2rem 2rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
  }

  &__btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.6rem;
    height: 2.6rem;
    background: transparent;
    border: none;
    opacity: 1;
    transition: all 0.3s;
    cursor: pointer;
  }

  &__list {
    margin-bottom: 4rem;
  }

  &__btn-close:hover {
    opacity: 0.6;
  }

  &__listitem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
  }

  &__listitem:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__iconbutton {
    margin-right: 1.4rem;
  }

  &__btn-logout {
    display: flex;
    align-items: center;
    background: transparent;
    color: $contentMain;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 1.5rem 2rem 1.5rem 4.6rem;
    border: 0.1rem solid $contentMain;
    border-radius: 1.4rem;
    background-image: url('../../../images/icon-logout.svg');
    background-repeat: no-repeat;
    background-position: left 1.5rem center;
    background-size: 2.6rem 2.6rem;
    opacity: 1;
    transition: all 0.3s;
    cursor: pointer;
  }
  &__btn-logout:hover {
    opacity: 0.6;
  }

  &__bottom {
    margin-bottom: 15rem;
  }
}

@media (min-width: $breakpoint768) {
  .rightside-menu {
    display: none;
  }
}
