<!-- Onboarding cards -->

<!-- Onboarding card: Step 1 -->

<div class="modal onboarding-card active">
  <!--      <div class="modal__close onboarding-card__close"></div> -->
  <div class="onboarding-card__inner">
    <div class="onboardin-card__content">
      <h3 class="onboarding-card__title">A few next steps</h3>
      <h6 class="onboarding-card__subtitle">1 of 4</h6>
      <p class="onboarding-card__text">
        The first employee - he is the most important.
      </p>
      <p class="onboarding-card__text">It’s you, the owner of the company.</p>
      <p class="onboarding-card__text">Please add your name</p>
      <form class="onboarding-card__form">
        <div class="onboarding-card__row">
          <input
            type="text"
            class="onboarding-card__input"
            id="name"
            name="name"
            placeholder="Name Surname"
            autocomplete="off"
          />
        </div>
      </form>
    </div>

    <div class="onboarding-card__btns">
      <!-- <button class="onboarding-card__btn back">Back</button> -->
      <button class="onboarding-card__btn next">Next</button>
    </div>
  </div>
</div>

<!-- Onboarding card: Step 2 -->

<div class="modal onboarding-card active">
  <!--       <div class="modal__close onboarding-card__close"></div> -->
  <div class="onboarding-card__inner">
    <div class="onboarding-card__content">
      <h3 class="onboarding-card__title">A few next steps</h3>
      <h6 class="onboarding-card__subtitle">2 of 4</h6>
      <p class="onboarding-card__text">
        Can you let me know your operation hours?
      </p>
      <form class="onboarding-card__form">
        <div class="onboarding-card__form-block">
          <h6 class="onboarding-card__form-label">Hours of operation</h6>

          <div
            class="onboarding-card__row-wrapper onboarding-card__row-wrapper--interval"
          >
            <div class="onboarding-card__row onboarding-card__row--interval">
              <span class="info-form__dayselect day-select">
                <select
                  class="select2-day-select"
                  id="start-day"
                  inputmode="none"
                  data-placeholder="Mon"
                >
                  <option></option>
                  <option value="Monday">Mon</option>
                  <option value="Tuesday">Tue</option>
                  <option value="Wednesday">Wed</option>
                  <option value="Thursday">Thu</option>
                  <option value="Friday">Fri</option>
                  <option value="Saturday">Sat</option>
                  <option value="Sunday">Sun</option>
                </select>
              </span>
              <div class="info-form__field-separator"></div>
              <span class="info-form__dayselect day-select">
                <select
                  class="select2-day-select"
                  id="end-day"
                  inputmode="none"
                  data-placeholder="Sun"
                >
                  <option></option>
                  <option value="Monday">Mon</option>
                  <option value="Tuesday">Tue</option>
                  <option value="Wednesday">Wed</option>
                  <option value="Thursday">Thu</option>
                  <option value="Friday">Fri</option>
                  <option value="Saturday">Sat</option>
                  <option value="Sunday">Sun</option>
                </select>
              </span>
            </div>
            <div class="onboarding-card__row onboarding-card__row--interval">
              <span class="info-form__dayselect day-select">
                <select
                  class="select2-day-select"
                  id="start-time"
                  inputmode="none"
                  data-placeholder="9:00"
                >
                  <option></option>
                  <option value="09:00">09:00</option>
                  <option value="09:30">09:30</option>
                  <option value="10:00">10:00</option>
                  <option value="10:30">10:30</option>
                  <option value="11:00">11:00</option>
                  <option value="11:30">11:30</option>
                  <option value="12:00">12:00</option>
                  <option value="12:30">12:30</option>
                  <option value="13:00">13:00</option>
                  <option value="13:30">13:30</option>
                  <option value="14:00">14:00</option>
                  <option value="14:30">14:30</option>
                  <option value="15:00">15:00</option>
                  <option value="15:30">15:30</option>
                  <option value="16:00">16:00</option>
                  <option value="16:30">16:30</option>
                  <option value="17:00">17:00</option>
                  <option value="17:30">17:30</option>
                  <option value="18:00">18:00</option>
                  <option value="18:30">18:30</option>
                  <option value="19:00">19:00</option>
                  <option value="19:30">19:30</option>
                  <option value="20:00">20:00</option>
                  <option value="20:30">20:30</option>
                </select>
              </span>
              <div class="info-form__field-separator"></div>
              <span class="info-form__dayselect day-select">
                <select
                  class="select2-day-select"
                  id="end-time"
                  inputmode="none"
                  data-placeholder="18:00"
                >
                  <option></option>
                  <option value="09:00">09:00</option>
                  <option value="09:30">09:30</option>
                  <option value="10:00">10:00</option>
                  <option value="10:30">10:30</option>
                  <option value="11:00">11:00</option>
                  <option value="11:30">11:30</option>
                  <option value="12:00">12:00</option>
                  <option value="12:30">12:30</option>
                  <option value="13:00">13:00</option>
                  <option value="13:30">13:30</option>
                  <option value="14:00">14:00</option>
                  <option value="14:30">14:30</option>
                  <option value="15:00">15:00</option>
                  <option value="15:30">15:30</option>
                  <option value="16:00">16:00</option>
                  <option value="16:30">16:30</option>
                  <option value="17:00">17:00</option>
                  <option value="17:30">17:30</option>
                  <option value="18:00">18:00</option>
                  <option value="18:30">18:30</option>
                  <option value="19:00">19:00</option>
                  <option value="19:30">19:30</option>
                  <option value="20:00">20:00</option>
                  <option value="20:30">20:30</option>
                </select>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="onboarding-card__btns">
      <button class="onboarding-card__btn back">Back</button>
      <button class="onboarding-card__btn next">Next</button>
    </div>
  </div>
</div>

<!-- Onboarding card: Step 3 -->

<div class="modal onboarding-card active">
  <!--       <div class="modal__close onboarding-card__close"></div> -->
  <div class="onboarding-card__inner">
    <div class="onboarding-card__content">
      <h3 class="onboarding-card__title">A few next steps</h3>
      <h6 class="onboarding-card__subtitle">3 of 4</h6>
      <p class="onboarding-card__text">
        Select the main language of your website and your currency
      </p>
      <form class="onboarding-card__form">
        <div class="onboarding-card__form-block">
          <div class="onboarding-card__row onboarding-card__row--select">
            <label for="language-default" class="onboarding-card__form-label"
              >Default language</label
            >
            <div class="onboarding-card__select settings-select">
              <select
                class="select2-settings-select"
                id="language-default"
                inputmode="none"
                data-placeholder="Select language"
              >
                <option value="english" selected>English</option>
                <option value="turkish">Turkish</option>
                <option value="german">German</option>
              </select>
            </div>
          </div>
          <div class="onboarding-card__row onboarding-card__row--select">
            <label for="currency-default" class="onboarding-card__form-label"
              >Default currency</label
            >
            <div class="onboarding-card__select settings-select">
              <select
                class="select2-settings-select"
                id="currency-default"
                inputmode="none"
                data-placeholder="Select currency"
              >
                <option></option>
                <option value="USD" selected>USD</option>
                <option value="TRY">TRY</option>
                <option value="EUR">EUR</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="onboarding-card__btns">
      <button class="onboarding-card__btn back">Back</button>
      <button class="onboarding-card__btn next">Next</button>
    </div>
  </div>
</div>

<!-- Onboarding card: Step 4 -->

<div class="modal onboarding-card active">
  <!--       <div class="modal__close onboarding-card__close"></div> -->
  <div class="onboarding-card__inner">
    <div class="onboarding-card__content onboarding-card__content--four">
      <h3 class="onboarding-card__title">A few next steps</h3>
      <h6 class="onboarding-card__subtitle">4 of 4</h6>
      <p class="onboarding-card__text">
        Please come up&nbsp;with a&nbsp;name for your website.
      </p>
      <p class="onboarding-card__text">
        We&nbsp;suggest using the name of&nbsp;your salon.
      </p>
      <p class="onboarding-card__text">
        However, please keep in&nbsp;mind that some names may not be&nbsp;unique
        and could already be&nbsp;in&nbsp;use.
      </p>
      <p class="onboarding-card__text">
        So, use your imagination and creativity!
      </p>

      <form class="onboarding-card__form">
        <div class="onboarding-card__row onboarding-card__row--domain">
          <label for="domain" class="onboarding-card__form-label"
            >Your current domain</label
          >
          <input
            type="text"
            class="onboarding-card__input onboarding-card__input--domain"
            id="domain"
            name="domain"
            placeholder="mysite.randevu.beauty"
            autocomplete="off"
          />
          <span class="onboarding-card__input-message"></span>
        </div>
      </form>
    </div>

    <div class="onboarding-card__btns">
      <button class="onboarding-card__btn back">Back</button>
      <button class="onboarding-card__btn next">Next</button>
    </div>
  </div>
</div>

<!-- Onboarding card: Step 5 -->

<div class="modal onboarding-card active">
  <!--       <div class="modal__close onboarding-card__close"></div> -->
  <div class="onboarding-card__inner">
    <div class="onboarding-card__content onboarding-card__content--five">
      <h3 class="onboarding-card__title">Congratulations!</h3>
      <h6 class="onboarding-card__subtitle">Almost done</h6>
      <p class="onboarding-card__text">
        The main setup process complete. All you need to do now is add all your
        services, your staff if you have more than one person, share the link to
        your website through WhatsApp or social media, and start receiving
        bookings.
      </p>
      <div class="onboarding-card__img-wrapper">
        <img
          src="./images/congrats.svg"
          alt="Congratulations"
          class="onboarding-card__img"
          width="162"
          height="175"
        />
      </div>
    </div>

    <div class="onboarding-card__btns onboarding-card__btns--congratulations">
      <!-- <button class="onboarding-card__btn back">Back</button> -->
      <button class="onboarding-card__btn ok">OK</button>
    </div>
  </div>
</div>
