<!-- Confirmation inside form step -->

<div class="confirmation active">
  <div class="confirmation__fields">
    <div class="confirmation__filled-wrapper">
      <div class="confirmation__row active">
        <span class="confirmation__number">1</span>
        <span class="confirmation__field-label">Category:</span>
        <div class="confirmation__input-wrapper">
          <span class="confirmation__field-input">Styling</span>
        </div>
      </div>
      <div class="confirmation__row active">
        <span class="confirmation__number">2</span>
        <span class="confirmation__field-label">Service:</span>
        <div class="confirmation__input-wrapper">
          <span class="confirmation__field-input"
            >Star Styling With Extra Care</span
          >
        </div>
      </div>
      <div class="confirmation__row">
        <span class="confirmation__number">3</span>
        <span class="confirmation__field-label">Employee:</span>
        <div class="confirmation__input-wrapper">
          <span class="confirmation__field-input">Jane Smith</span>
        </div>
      </div>
      <div class="confirmation__row">
        <span class="confirmation__number">4</span>
        <span class="confirmation__field-label">Date:</span>
        <div class="confirmation__input-wrapper">
          <span class="confirmation__field-input">16, Aug</span>
        </div>
      </div>
      <div class="confirmation__row">
        <span class="confirmation__number">5</span>
        <span class="confirmation__field-label">Time:</span>
        <div class="confirmation__input-wrapper">
          <span class="confirmation__field-input">11:30</span>
        </div>
      </div>
      <div class="confirmation__price-row">
        <span class="confirmation__price-label">Price:</span>
        <div class="confirmation__price-wrapper">
          <span class="confirmation__price-input">$40</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Final confirmation -->
<div class="confirmation confirmation--final active">
  <div class="confirmation__fields">
    <div class="confirmation__filled-wrapper">
      <div class="confirmation__row active">
        <span class="confirmation__number">1</span>
        <span class="confirmation__field-label">Category:</span>
        <div class="confirmation__input-wrapper">
          <span class="confirmation__field-input">Styling</span>
        </div>
      </div>
      <div class="confirmation__row active">
        <span class="confirmation__number">2</span>
        <span class="confirmation__field-label">Service:</span>
        <div class="confirmation__input-wrapper">
          <span class="confirmation__field-input"
            >Star Styling With Extra Care</span
          >
        </div>
      </div>
      <div class="confirmation__row">
        <span class="confirmation__number">3</span>
        <span class="confirmation__field-label">Employee:</span>
        <div class="confirmation__input-wrapper">
          <span class="confirmation__field-input">Jane Smith</span>
        </div>
      </div>
      <div class="confirmation__row">
        <span class="confirmation__number">4</span>
        <span class="confirmation__field-label">Date:</span>
        <div class="confirmation__input-wrapper">
          <span class="confirmation__field-input">16, Aug</span>
        </div>
      </div>
      <div class="confirmation__row">
        <span class="confirmation__number">5</span>
        <span class="confirmation__field-label">Time:</span>
        <div class="confirmation__input-wrapper">
          <span class="confirmation__field-input">11:30</span>
        </div>
      </div>
      <div class="confirmation__price-row">
        <span class="confirmation__price-label">Price:</span>
        <div class="confirmation__price-wrapper">
          <span class="confirmation__price-input">$40</span>
        </div>
      </div>
    </div>
    <div class="confirmation__contacts-wrapper">
      <div class="confirmation__contact-row">
        <input
          type="text"
          class="confirmation__contact-input confirmation__contact-input--name"
          id="total-name"
          name="total-name"
          placeholder="Name Surname"
          autocomplete="off"
        />
      </div>
      <div class="confirmation__contact-row">
        <input
          type="text"
          class="confirmation__contact-input confirmation__contact-input--phone"
          id="total-phone"
          name="total-phone"
          placeholder="Phone number"
          autocomplete="off"
        />
      </div>
      <div class="confirmation__tick-block">
        <div class="confirmation__tick-right">
          <input
            class="visually-hidden confirmation__tick-checkbox"
            id="remember"
            type="checkbox"
            name="remember"
          />
          <label class="confirmation__tick-label" for="remember"
            >By clicking the button you agree to the
            <a>Privacy Policy</a>
          </label>
        </div>
      </div>
      <button class="confirmation__button disabled">Book an appointment</button>
    </div>
  </div>
</div>
