<div class="pagination">
  <a class="pagination__arrow pagination__arrow disabled">
    <img
      class="pagination__icon-arrow pagination__icon-arrow--left"
      src="./images/icon-arrow-right.svg"
      alt="arrow icon"
    />
  </a>

  <ul class="pagination__list">
    <li class="pagination__list-item">
      <a class="pagination__list-num active"> 1 </a>
    </li>
    <li class="pagination__list-item">
      <a class="pagination__list-num"> 2 </a>
    </li>
    <li class="pagination__list-item">
      <a class="pagination__list-num"> 3 </a>
    </li>
    <li class="pagination__list-item">
      <a class="pagination__list-num"> 4 </a>
    </li>
    <li class="pagination__list-item">
      <a class="pagination__list-num dots"> ...</a>
    </li>
    <li class="pagination__list-item">
      <a class="pagination__list-num"> 7</a>
    </li>
  </ul>

  <a class="pagination__arrow">
    <img
      class="pagination__icon-arrow"
      src="./images/icon-arrow-right.svg"
      alt="arrow icon"
    />
  </a>
</div>
