<div class="app-form">
  <div class="app-form__inner">
    <h2 class="app-form__title">Total</h2>
    <div class="app-form__fields">
      <div class="app-form__filled-wrapper">
        <div class="app-form__row">
          <span class="app-form__number">1</span>
          <span class="app-form__field-label">Category:</span>
          <div class="app-form__input-wrapper">
            <span class="app-form__field-input">Styling</span>
          </div>
        </div>
        <div class="app-form__row">
          <span class="app-form__number">2</span>
          <span class="app-form__field-label">Service:</span>
          <div class="app-form__input-wrapper">
            <span class="app-form__field-input"
              >Star Styling With Extra Care</span
            >
          </div>
        </div>
        <div class="app-form__row">
          <span class="app-form__number">3</span>
          <span class="app-form__field-label">Employee:</span>
          <div class="app-form__input-wrapper">
            <span class="app-form__field-input">Jane Smith</span>
          </div>
        </div>
        <div class="app-form__row">
          <span class="app-form__number">4</span>
          <span class="app-form__field-label">Date:</span>
          <div class="app-form__input-wrapper">
            <span class="app-form__field-input">16, Dec</span>
          </div>
        </div>
        <div class="app-form__row">
          <span class="app-form__number">5</span>
          <span class="app-form__field-label">Time:</span>
          <div class="app-form__input-wrapper">
            <span class="app-form__field-input">11:30</span>
          </div>
        </div>
        <div class="app-form__price-row">
          <span class="app-form__price-label">Price:</span>
          <div class="app-form__price-wrapper">
            <span class="app-form__price-input">$40</span>
          </div>
        </div>
      </div>

      <div class="app-form__contacts-wrapper">
        <div class="app-form__contact-row">
          <input
            type="text"
            class="app-form__contact-input app-form__contact-input--name"
            id="total-name"
            name="total-name"
            placeholder="Name Surname"
          />
        </div>
        <div class="app-form__contact-row">
          <input
            type="text"
            class="app-form__contact-input app-form__contact-input--phone"
            id="total-phone"
            name="total-phone"
            placeholder="Phone number"
          />
        </div>
        <button class="app-form__button disabled">Book an appointment</button>
      </div>
    </div>
  </div>
</div>
