.time-select {
  position: relative;
  display: flex;

  width: 14.6rem;
  margin-left: auto;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  & .choices {
    width: 100%;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: $contentSecondary;
    text-transform: uppercase;
    background: $backgroundMain;
    border: 0.1rem solid $backgroundExtraLight;
    border-radius: 1.4rem;
  }

  & .choices::after {
    position: absolute;
    border: none;
    content: '';
    top: 55%;
    transform: translateY(-50%);
    right: 2.6rem;
    background-image: url('../../../images/icon-select-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;
  }

  & .choices.is-open::after {
    margin-top: -2.5px;
    transform: translateY(-50%) rotate(180deg);
  }
  & .choices.is-open.is-focused {
    border: none;
    border-radius: 1.4rem 1.4rem 0 0;
  }

  & .choices.is-open .choices__inner {
    border: 0.1rem solid $accentMain;
    border-radius: 1.4rem 1.4rem 0 0;
    border-bottom: none;
  }

  & .choices__inner {
    border: none;
    min-height: 4rem;
    //padding: 0.3rem;
    background-color: transparent;
    //padding: 0.8rem 3rem 0.8rem 2rem;
  }

  & .choices__list.choices__list--single {
    padding: 0.8rem 4rem 0.8rem 1.3rem;
    text-align: left;
  }

  & .choices__list {
    min-width: 100%;
    //width: max-content;
    //max-width: 15rem;
    //min-width: 9.7rem;
    //width: auto;
  }

  & .choices__list.choices__list--dropdown.is-active {
    background-color: $backgroundMain;
    border: 0.1rem solid $accentMain;
    border-top: none;
    border-radius: 0 0 1.4rem 1.4rem;
    margin-top: 0;
    //padding: 1rem 0;
    //width: auto;
  }

  & .choices__item.choices__item--choice {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 400;
  }

  &.choices__item.choices__item--choice:not:last-child {
    border-bottom: 0.1rem solid $contentLight;
  }

  & .choices__item.choices__item--choice.is-highlighted {
    //background-color: $backgroundSecondary;
    background-color: transparent;
    position: relative;
  }

  & .choices__item.choices__item--choice.is-highlighted.is-selected {
    color: $accentMain;
    background-color: $domLight;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      border: none;
      background-image: url('../../../images/icon-check-red.svg');
      background-repeat: no-repeat;
      top: 55%;
      transform: translateY(-50%);
      opacity: 1;
      right: 2.5rem;
      width: 2.6rem;
      height: 2.6rem;
    }
  }
  & .choices__item.choices__item--choice.choices__item--disabled.is-selected {
    color: $contentSecondary;
    background-color: transparent;
    position: relative;
    padding: 1.5rem 2rem;
    &::after {
      display: none;
    }
  }

  & .choices__item.choices__item--choice.is-selected,
  & .choices__item.choices__item--choice.is-selected {
    color: $accentMain;
    background-color: $domLight;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      border: none;
      background-image: url('../../../images/icon-check-red.svg');
      background-repeat: no-repeat;
      top: 55%;
      transform: translateY(-50%);
      opacity: 1;
      right: 2.5rem;
      width: 2.6rem;
      height: 2.6rem;
    }
  }

  & .choices__list--dropdown .choices__item--selectable {
    padding: 1rem 4rem 1rem 2rem;
    text-align: left;
    border-bottom: 0.1rem solid $contentLight;
  }
  & .choices__list--dropdown .choices__item--selectable:last-child {
    border-bottom: none;
  }

  /* select2 styles */
  /* 
  & {
    border: 0.1rem solid $backgroundExtraLight;
    border-radius: 1.4rem;
  } */

  & .select2 {
    width: 100% !important;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: $contentSecondary;
    text-transform: uppercase;
    background: $backgroundMain;
    //border-radius: 1.4rem;
    //overflow: hidden;
    //border: 0.1rem solid $backgroundExtraLight;
    border-radius: 1.4rem;
  }

  & .select2-selection {
    padding: 0.9rem 3rem 0.9rem 1.2rem;
    height: auto;
    border: 0.1rem solid $backgroundExtraLight;
    border-radius: 1.4rem;
    overflow: hidden;
  }

  & .select2-selection__rendered {
    line-height: 2.8rem;
  }

  &
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    b {
      border: none;
    }

    background-image: url('../../../images/icon-select-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;

    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
  }

  &
    .select2.select2-container.select2-container--default.select2-container--open {
    border: 0.1rem solid $accentMain;
    border-radius: 1.4rem 1.4rem 0 0;
    border-bottom: none;
  }
  &
    .select2.select2-container.select2-container--default.select2-container--open
    .select2-selection__arrow {
    transform: translateY(-50%) rotate(180deg);
  }

  &
    .select2.select2-container.select2-container--default.select2-container--open.select2-container--focus {
    border: 0.1rem solid $accentMain;
    border-radius: 1.4rem 1.4rem 0 0;
    border-bottom: none;
  }

  &
    .select2.select2-container.select2-container--default.select2-container--below.select2-container--open {
    border: 0.1rem solid $accentMain;
    border-radius: 1.4rem 1.4rem 0 0;
    border-bottom: none;
  }
  &
    .select2.select2-container.select2-container--default.select2-container--above.select2-container--open {
    border: 0.1rem solid $accentMain;
    border-radius: 0 0 1.4rem 1.4rem;
    border-top: 0.1rem solid $contentLight;
  }
}

@media (min-width: $breakpoint768) {
  .time-select {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
