<li class="categories__list-item category">
  <a href="" class="category__link">
    <div class="category__inner">
      <div class="category__img-wrapper">
        <img
          src="./images/category-haircut.jpg"
          alt="category photo"
          class="category__img"
        />
      </div>

      <div class="category__text-block">
        <h6 class="category__title">A haircut</h6>
      </div>
    </div>
  </a>
  <div class="edit-icon" data-category-id="52">
    <img
      class="edit-icon__img"
      src="./images/icon-edit.svg"
      alt="edit row"
      width="26"
      height="26"
    />
    Edit
  </div>

  <div class="edit-icon">
    <svg width="26" height="26">
      <use xlink:href="./images/sprite.svg#icon-edit"></use>
    </svg>
  </div>
</li>
