.wide-button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  background: $backgroundMain;
  color: $contentMain;
  font-weight: 600;
  padding: 2rem;
  border-radius: 1.4rem;

  font-size: 2rem;
  line-height: 2.4rem;

  opacity: 1;
  transition: all 0.3s;
  border: 0.1rem solid $contentMain;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &.active {
    background-color: $contentMain;
    color: $backgroundMain;
    border: none;
  }

  &.wide-button--red {
    background-color: $accentMain;
    color: $backgroundMain;
    justify-content: flex-start;
    border: none;
    padding: 2rem 6.8rem 2rem 3.2rem;
    background-image: url('../../../images/icon-dropdown-white.svg');
    background-size: 2.4rem 2.4rem;
    background-repeat: no-repeat;
    background-position: right 2rem center;
  }

  &.wide-button--redborder {
    background: $backgroundMain;
    color: $accentMain;
    border: 0.1rem solid $accentMain;
  }

  &.wide-button--employees {
    background-color: $accentMain;
    color: $backgroundMain;
    justify-content: center;
    border: none;
    /*     padding: 2rem 6.8rem 2rem 3.2rem;
    background-image: url('../../../images/icon-dropdown-white.svg');
    background-size: 2.4rem 2.4rem;
    background-repeat: no-repeat;
    background-position: right 2rem center; */
  }
}

@media (min-width: $breakpoint768) {
  .wide-button {
    width: auto;
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    line-height: 1.6rem;

    &.wide-button--red {
      font-size: 1.4rem;
      line-height: 1.6rem;
      padding: 1.6rem 5.6rem 1.6rem 2rem;
    }
  }
}
