.client-form {
  max-width: 32rem;
  padding-bottom: 10.8rem;

  &__row {
    width: 100%;
    margin-bottom: 1.4rem;
  }

  &__row.client-form__row--notes {
    margin-bottom: 0;
  }
  &__row.client-form__row--editname {
    margin-bottom: 2.8rem;
  }

  &__label {
    display: block;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 1.4rem;
  }

  &__input,
  &__textarea {
    width: 100%;
    background: $backgroundMain;
    border: 0.1rem solid $backgroundExtraLight;
    border-radius: 1.4rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: $contentMain;
    outline: none;

    padding: 1.4rem 2rem;

    &::placeholder {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.6rem;
      color: $contentSecondary;
    }

    &--editname,
    &--editphone {
      margin-right: 1.4rem;
    }
  }

  &__input.focused {
    border: 0.1rem solid $accentMain;
  }

  &__textarea {
    resize: none;
  }

  &__button {
    //width: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: $contentMain;
    padding: 1.4rem 1rem;
    border: none;
    border-radius: 1.4rem;
    font-size: 1.6rem;
    line-height: 2rem;
    opacity: 1;
    transition: all 0.3s;
    cursor: pointer;
  }
  &__button:hover {
    opacity: 0.6;
  }

  &__btn-wrapper {
    margin-bottom: 4rem;
  }

  &__button.red {
    background-color: $accentMain;
    color: $backgroundMain;
  }

  &__btns-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &--top {
      margin-bottom: 4rem;
    }
  }

  &__inputs-wrapper {
    margin-bottom: 2rem;
    &--editable {
      margin-bottom: 2.8rem;
    }
  }

  &__input-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 4.6rem;
    min-height: 4.6rem;
    background: transparent;
    border-radius: 1.4rem;
    border: 0.1rem solid $contentMain;
    opacity: 1;
    transition: all 0.3s;
    cursor: pointer;
  }

  &__icon-button:hover {
    opacity: 0.6;
  }
}

@media (min-width: $breakpoint768) {
  .client-form {
    width: 100%;
    max-width: initial;
    padding-bottom: 14rem;

    &__inputs-wrapper {
      max-width: 55.4rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.4rem;

      &--editable {
        max-width: 32rem;
        display: block;
        margin-bottom: 4rem;

        .client-form__icon-button {
          display: none;
        }
      }
    }

    &__btns-wrapper {
      &--top {
        justify-content: flex-end;
        margin-bottom: 4rem;
      }
    }

    &__row.client-form__row--name,
    &__row.client-form__row--notes {
      grid-column: 1 / 3;
    }
  }
}

@media (min-width: $breakpoint1200) {
  .client-form {
    &__btns-wrapper {
      &--top {
        justify-content: flex-start;
      }
    }

    &__label {
      font-size: 2rem;
      line-height: 2.4rem;
      margin-bottom: 2rem;
    }

    &__inner {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__inputs-wrapper {
      &--editable {
        max-width: 55.2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3.6rem;
        margin-bottom: 0;
        margin-right: 3.6rem;

        .client-form__input {
          font-size: 1.6rem;
          line-height: 2rem;
          padding: 1.5rem 2.2rem;
        }
        .client-form__icon-button {
          display: none;
        }

        .client-form__row {
          margin-bottom: 0;
        }

        .client-form__row.client-form__row--editname {
          margin-bottom: 0;
        }

        .client-form__btns-wrapper {
          align-self: flex-end;
        }
      }
    }

    &__btns-wrapper {
      &--editable {
        align-self: flex-end;
        .form-button {
          padding-top: 1.3rem;
          padding-bottom: 1.2rem;
        }
      }
    }
  }
}
