<li class="booking-form__option form-card">
  <input
    class="visually-hidden form-card__option-input"
    type="radio"
    name="category"
    value="Haircut"
    id="haircut"
  />
  <label
    class="form-card__option-label form-card__option-label--category"
    for="haircut"
  >
    <span class="form-card__label-inner">
      <img
        src="./images/category-haircut.jpg"
        alt="Category photo"
        class="form-card__labelimg"
        width="90"
        height="90"
      />
      A haircut
    </span>
    <img
      class="form-card__label-checkimg"
      src="./images/icon-round-check.svg"
      alt="Selected option"
      width="26"
      height="26"
    />
  </label>
</li>
