<form class="filter">
  <ul class="filter__gender-options">
    <li class="filter__gender-option">
      <input
        class="visually-hidden filter__gender-input"
        type="radio"
        name="gender"
        value="man"
        id="man"
      />
      <label class="filter__gender-label" for="man">Man</label>
    </li>
    <li class="filter__gender-option">
      <input
        class="visually-hidden filter__gender-input"
        type="radio"
        name="gender"
        value="woman"
        id="woman"
        checked
      />
      <label class="filter__gender-label" for="woman">Woman</label>
    </li>
  </ul>
</form>
