<div class="dashboard-table__select-dropdown table-select table-select--status">
  <label for="status" class="dashboard-table__select-label visually-hidden"
    >Status</label
  >
  <select class="select2-form-select" id="status" inputmode="none">
    <option selected value="all">All</option>
    <option value="cancelled">Cancelled</option>
    <option value="waiting">Waiting</option>
    <option value="in-progress">In progress</option>
    <option value="unread">Unread</option>
    <option value="done">Done</option>
  </select>
</div>
