.header {
  background: $backgroundMain;
  min-height: 7.1rem;

  border: 0.1rem solid $backgroundExtraLight;

  &__inner {
    padding: 1.2rem 0;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .account__name {
    display: none;
  }

  /*   .header__search {
    display: none;
  } */

  &__language {
    display: none;
  }

  &__logout--tablet {
    display: none;
    .icon-button--logout {
      display: none;
    }
  }

  &__button {
    min-width: 17.2rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 1.5rem 2rem;
    background: $accentMain;
  }
}

@media (min-width: $breakpoint768) {
  .header {
    .account__name {
      display: block;
    }

    /*  .header__search {
      display: block;
    } */

    .header__language {
      display: flex;
    }

    &__notification {
      margin-right: 1rem;
    }

    &__logout--tablet {
      display: block;
      .icon-button--logout {
        display: flex;
      }
    }
  }
}

@media (min-width: $breakpoint1200) {
  .header {
    background: $backgroundSecondary;
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0; */

    &__inner {
      padding: 1.2rem 2.6rem;
    }

    &__button {
      font-size: 1.6rem;
      line-height: 2rem;

      font-weight: 600;
    }

    &__search {
      margin-right: 7%;
    }
  }
}

@media (min-width: 1400px) {
  .header {
    &__account {
      margin-right: 17%;
    }
  }
}
